doctype html
html(lang="en")
form(action= "#{action}", method="#{method}", enctype="#{enctype}")
      input(type="text", name="Title")
      br
      input(type="file", name="upload", multiple="multiple")
      br
      input(type="submit", value="#{value}")
